body {
  padding-top: 60px;
}

.top-left{
  margin-right: 5px;
  padding-left: 10px;
  font-size: 14px;
}

.navbar-brand{
  font-size: 14px;
}

img {
    display: block;
    margin: auto;
}

p{
  margin-bottom: 0;
}

.media-body {
  width: 10000px;
}

.twitter-reply hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid lightgray;
 }

 .panel-footer {
     padding: 10px 15px;
     background-color: #f5f5f5;
     border-top: 1px solid #ddd;
     border-bottom-right-radius: 3px;
     border-bottom-left-radius: 3px;
 }

.info-top{
  padding-bottom: 5px;
}

.pic a{
  margin-right: 5px;
}

.time-date{
  padding: 0;
}

.col-md-1{
  margin-right: 25px;
  margin-top: 12px;
  margin-bottom: 11px;
}
.col-md-1 a{
  color: #7e7f7f !important;
}


.bottom-form{
  width: 255% !important;
  border-radius: 4px !important;
}

.media-list{
  margin-bottom: 0;
}

.top-search{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
    border-right: 0;
    height: 34.22222px;

}

.search-button{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 1.43;
  border-left: 0;
  font-weight: 900;

}

.panel-default{
  margin-top: 10px;
}
